[submodule "Janus/vendor/spdlog"]
	path = Janus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Janus/vendor/GLFW"]
	path = Janus/vendor/GLFW
	url = https://github.com/thecherno/glfw
