[submodule "Janus/vendor/spdlog"]
	path = Janus/vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "Janus/vendor/GLFW"]
	path = Janus/vendor/GLFW
	url = https://github.com/thecherno/glfw

[submodule "Janus/vendor/imgui"]
	path = Janus/vendor/imgui
	url = https://github.com/TheCherno/imgui

[submodule "Janus/vendor/glm"]
	path = Janus/vendor/glm
	url = https://github.com/g-truc/glm

